**/*

!/convert_fashion_mnist.
!/batch_client.py
!/requirements.txt
!/README.md
!/CHANGELOG.md

!/analysis/
!/analysis/model_evaluation.py
/analysis/view_augmentations.py
!/analysis/view_model.py
!/analysis/visualize_layer_focus.py

!/api/
!/api/app.py
!/api/requirements.txt
!/api/Dockerfile

!/Figures
!/Figures/*
!/Figures/plots/
!/Figures/plots/accuracy_curve_fashion_mnist_v1.png
!/Figures/plots/loss_curve_fashion_mnist_v1.png

!/src/
!/src/config.py
!/src/dataset.py
!/src/model.py
!/src/train.py

!/.gitignore

!/models/
!/models/fashion_mnist_v1.pth

!.github
!.github/workflows
!.github/workflows/ci.yml
!.github/workflows/nightly_batch.yml

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# IDE specific files
.vscode/
.idea/